*{
    margin: 0;
    padding: 0;
}
h1 {
    text-align: center;
    margin: 50px 0 0 0;
}
.first ,.second,.third {
    width: 30%;
    height: 250px;
    margin: 60px 0 0 2.5%;
    float: left;
    border: 2px solid black;
    background: rgba(0, 0, 0, 0.384);
    overflow: hidden;
}
h3 {
    width: 100px;
    text-align: center;
    float: right;
    border-left: 2px solid black;
    border-bottom: 2px solid black;
    padding: 3px;
    background: red;    
}
.b {
    background: yellow;
}
.s {
    background: pink;
}
p {
    margin: 0;
    padding: 10px;
}


@media screen and (max-width:767px) {
    .first ,.second,.third {
        width: 95%;
    }
}

@media screen and (max-width:991px) and (min-width:768px) {
    .first ,.second {
        width: 46%;
    }
    .third {
        width: 95%;
    }
}